<configuration>
	<packageSources>
		<add key="syniti-github-packages" value="https://nuget.pkg.github.com/BackOfficeAssoc/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<syniti-github-packages>
			<!-- this sets the authorization for the github packages, the password will be set from the GITHUB_TOKEN environment variable -->
			<!-- during build of docker image, the token will passed via a build-args flag to the dockerfile context. -->
			<!-- username can be left as just 'USERNAME' if using a full github token -->
			<add key="Username" value="USERNAME" />
			<add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
		</syniti-github-packages>
	</packageSourceCredentials>
</configuration>